@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'popping', sans-serif;
}

body{
    background-color: black;
}
.main {
    background-image: url("assets/images/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    min-height: 70vh;
    position: relative;

}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.74;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 62px;

}

nav img {
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;

}

.hero {
    font-family: "Martel Sans", sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    z-index: 10;
    gap: 23px;
    padding: 30px;


}
.hero> :first-child{
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}
.hero> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
.separation{
    height: 7px;
    background-color: gray;
    position: relative;
    z-index: 10;

}

.btn{
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(248,243,243,0.021);
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
}
.btn-red{
  
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;


}
.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input{
    padding:7px 101px 8px 14px;
    font-size: 12px;
    color: white;
    border-radius: 4px;
    background-color: rgba(23,23,23,0.7);
    border: 1px solid rgba(246,238,238,0.5);
}
.btn-red-sm{
    background-color: red;
    color: white;
}